@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-success text-white mb-4">Welcome WORLD</h1>

    <p class="mb-3 text-success">HERE you can ADD - EDIT and DELETE any student</p>

    <a href="/Students/List" class="text-primary">View All Students</a>

</div>



